@charset "utf-8";

@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }

    menu {
        display: block;
        margin-left: 2vw;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}