@charset "utf-8";


/* Configurações Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #106675, #5f5656);
    }

    #login {
        width: 90vw;
        height: 400px;
    }

    #login > #imagem {
        float: right;
        width: 35%;
        height: 100%;
        background-position: center center;
    }

    #login > #fomulario {
        float: left;
        width: 65%;
    }
}


/* Configurações Telas Grandes */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #106675, #ced8d9);
    }

    #login {
        width: 990px;
        height: 560px;
    }

    #login > #imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    #login > #fomulario {
        float: right;
        width: 60%;
    }

    #formulario > h1 {
        font-size: 2.3em;
    }

    #formulario > p {
        font-size: 1.2em;
    }
}