@charset "utf-8";

/*
Padrão de cores:
Cinza: #ced8d9 ou #ededed ou #e3e3e3
Verde: #106675
Marrom: #5f5656
*/

* {
    font-family: system-ui, Ubuntu, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #106675;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #ededed;
    width: 320px;
    height: 560px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    
    transition: width .5s, height .5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#login > #imagem {
    display: block;
    background: #106675 url('../img/vpn.jpg') no-repeat;
    height: 240px;
    background-size: cover;
    background-position: center left;
}

#login > #formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 12px;
}

#formulario > p {
    margin: 12px 0;
}

form > .campo {
    display: block;
    background-color: #5f5656;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

.campo > label {
    display: none;
}

.campo > i {
    color: #ededed;
    font-size: 2em;
    width: 40px;
    padding: 4px;

    /* background-color: black; */
}

.campo > input {
    background-color: #474040;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

.campo > input:focus-within {
    background-color: #ced8d9;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #106675;
    color: #ededed;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

form > input[type=submit]:hover {
    background-color: #0b3d46;
}

form > .botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f5656;
    border-radius: 8px;
    text-decoration: none;
    color: #ededed;
    padding-top: 7px;
    margin-top: 8px;
    transition: .3s;
}

form > .botao:hover {
    background-color: #474040;
}